<div class="indentation-container">
    <span class="attribute">"networks"</span><span class="control inline">:</span>
    <span class="control inline">[</span>
    <div class="row indentation-content">
        <div class="indentation indentation-toggle">
            <div class="indentation-line"></div>
        </div>
        <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

            <div>
                <span class="value">"<a href="https://twitter.com/pmgarman" target="_blank">twitter</a>"</span><span class="control inline">,</span>
            </div>

            <div>
                <span class="value">"<a href="https://github.com/pmgarman" target="_blank">github</a>"</span><span class="control inline">,</span>
            </div>

        </div>
    </div>
    <span class="indentation-ellipsis indentation-toggle">...</span>
    <span class="control inline">]</span><span class="control inline">,</span>
</div>