/**
 * Fonts
 */

/**
 * Code / Pre
 */

/**
 * Colors
 */

/**
 * Misc
 */

html,
body
{
    font-family: 'Courier';
    font-size: 18px;
}

body
{
    color: #a6e22e;
    background-color: #272822;
}

a
{
    transition: .5s;
    text-decoration: none;

    color: #a6e22e;
    border-bottom: 1px dashed #888;
}

a:hover,
a:focus
{
    text-decoration: none;

    color: #f8f8f2;
}

img
{
    max-width: 100%;
}

code,
pre,
pre code
{
    font-size: 16px;

    color: #66d9ef;
    border: none;
    border-radius: 0;
    background-color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: #fd971f;
}

.container
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.indentation-container
{
    position: relative;
}

.indentation
{
    position: absolute;
    top: 30px;
    bottom: 30px;

    display: none;

    width: 40px;
}

.indentation-line
{
    height: 100%;
    margin-right: 20px;

    border-right: 1px dashed #49483e;
}

.indentation-ellipsis
{
    display: none;
}

.indentation-toggle
{
    transition: .5s;

    color: #f8f8f2;
}

.indentation-toggle:hover
{
    cursor: pointer;

    color: #f8f8f2;
}

.indentation-toggle:hover > .indentation-line
{
    border-color: #f8f8f2;
}

.indentation-content
{
    display: block;

    transition: .5s;
}

.indentation-container.collapsed .indentation-content
{
    display: none;
}

.indentation-container.collapsed .indentation-ellipsis
{
    display: inline-block;
}

.array-item:last-child > .control:last-child
{
    display: none;
}

.control
{
    display: block;

    color: #f8f8f2;
}

.control.inline
{
    display: inline;
}

.attribute
{
    color: #f92672;
}

.value
{
    color: #a6e22e;
}

/* Small devices (tablets, 768px and up) */

/* Medium devices (desktops, 992px and up) */

/* Large devices (large desktops, 1200px and up) */

.highlight
{
    /* Comment */ /* Error */ /* Keyword */ /* Literal */ /* Name */ /* Operator */ /* Punctuation */ /* Comment.Multiline */ /* Comment.Preproc */ /* Comment.Single */ /* Comment.Special */ /* Generic.Emph */ /* Generic.Strong */ /* Keyword.Constant */ /* Keyword.Declaration */ /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */ /* Keyword.Type */ /* Literal.Date */ /* Literal.Number */ /* Literal.String */ /* Name.Attribute */ /* Name.Builtin */ /* Name.Class */ /* Name.Constant */ /* Name.Decorator */ /* Name.Entity */ /* Name.Exception */ /* Name.Function */ /* Name.Label */ /* Name.Namespace */ /* Name.Other */ /* Name.Property */ /* Name.Tag */ /* Name.Variable */ /* Operator.Word */ /* Text.Whitespace */ /* Literal.Number.Float */ /* Literal.Number.Hex */ /* Literal.Number.Integer */ /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */ /* Literal.String.Double */ /* Literal.String.Escape */ /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */ /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */ /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */ /* Generic Heading & Diff Header */ /* Generic.Subheading & Diff Unified/Comment? */ /* Generic.Deleted & Diff Deleted */ /* Generic.Inserted & Diff Inserted */
}

.highlight .hll
{
    background-color: #49483e;
}

.highlight .c
{
    color: #75715e;
}

.highlight .err
{
    color: #960050;
    background-color: #1e0010;
}

.highlight .k
{
    color: #66d9ef;
}

.highlight .l
{
    color: #ae81ff;
}

.highlight .n
{
    color: #f8f8f2;
}

.highlight .o
{
    color: #f92672;
}

.highlight .p
{
    color: #f8f8f2;
}

.highlight .cm
{
    color: #75715e;
}

.highlight .cp
{
    color: #75715e;
}

.highlight .c1
{
    color: #75715e;
}

.highlight .cs
{
    color: #75715e;
}

.highlight .ge
{
    font-style: italic;
}

.highlight .gs
{
    font-weight: bold;
}

.highlight .kc
{
    color: #66d9ef;
}

.highlight .kd
{
    color: #66d9ef;
}

.highlight .kn
{
    color: #f92672;
}

.highlight .kp
{
    color: #66d9ef;
}

.highlight .kr
{
    color: #66d9ef;
}

.highlight .kt
{
    color: #66d9ef;
}

.highlight .ld
{
    color: #e6db74;
}

.highlight .m
{
    color: #ae81ff;
}

.highlight .s
{
    color: #e6db74;
}

.highlight .na
{
    color: #a6e22e;
}

.highlight .nb
{
    color: #f8f8f2;
}

.highlight .nc
{
    color: #a6e22e;
}

.highlight .no
{
    color: #66d9ef;
}

.highlight .nd
{
    color: #a6e22e;
}

.highlight .ni
{
    color: #f8f8f2;
}

.highlight .ne
{
    color: #a6e22e;
}

.highlight .nf
{
    color: #a6e22e;
}

.highlight .nl
{
    color: #f8f8f2;
}

.highlight .nn
{
    color: #f8f8f2;
}

.highlight .nx
{
    color: #a6e22e;
}

.highlight .py
{
    color: #f8f8f2;
}

.highlight .nt
{
    color: #f92672;
}

.highlight .nv
{
    color: #f8f8f2;
}

.highlight .ow
{
    color: #f92672;
}

.highlight .w
{
    color: #f8f8f2;
}

.highlight .mf
{
    color: #ae81ff;
}

.highlight .mh
{
    color: #ae81ff;
}

.highlight .mi
{
    color: #ae81ff;
}

.highlight .mo
{
    color: #ae81ff;
}

.highlight .sb
{
    color: #e6db74;
}

.highlight .sc
{
    color: #e6db74;
}

.highlight .sd
{
    color: #e6db74;
}

.highlight .s2
{
    color: #e6db74;
}

.highlight .se
{
    color: #ae81ff;
}

.highlight .sh
{
    color: #e6db74;
}

.highlight .si
{
    color: #e6db74;
}

.highlight .sx
{
    color: #e6db74;
}

.highlight .sr
{
    color: #e6db74;
}

.highlight .s1
{
    color: #e6db74;
}

.highlight .ss
{
    color: #e6db74;
}

.highlight .bp
{
    color: #f8f8f2;
}

.highlight .vc
{
    color: #f8f8f2;
}

.highlight .vg
{
    color: #f8f8f2;
}

.highlight .vi
{
    color: #f8f8f2;
}

.highlight .il
{
    color: #ae81ff;
}

.highlight .gu
{
    color: #75715e;
}

.highlight .gd
{
    color: #f92672;
}

.highlight .gi
{
    color: #a6e22e;
}

@media (min-width: 768px)
{
    .indentation
    {
        display: block;
    }
}
