html,
body {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  background-color: $color-background;
  color: $color-text;
}

a {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px dashed #888;

  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  -webkit-transition: $transition-time;
  transition: $transition-time;
}

a:hover,
a:focus {
  color: $color-link-hover;
  text-decoration: none;
}

img {
  max-width: 100%;
}

code,
pre,
pre code {
  background-color: $color-code-background;
  border: none;
  border-radius: 0;
  font-size: $code-font-size;
  color: $color-code;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.indentation-container {
  position: relative;
}

.indentation {
  position: absolute;
  top: 30px;
  bottom: 30px;
  width: 40px;
  display: none;
}

.indentation-line {
  border-right: 1px dashed $color-border;
  height: 100%;
  margin-right: 20px;
}

.indentation-ellipsis {
  display: none;
}

.indentation-toggle {
  color: $color-link-hover;

  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  -webkit-transition: $transition-time;
  transition: $transition-time;
}

.indentation-toggle:hover {
  color: $color-link-hover;
  cursor: pointer;
}

.indentation-toggle:hover > .indentation-line {
  border-color: $color-link-hover;
}

.indentation-content {
  display: block;

  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  -webkit-transition: $transition-time;
  transition: $transition-time;
}

.indentation-container.collapsed .indentation-content {
  display: none;
}

.indentation-container.collapsed .indentation-ellipsis {
  display: inline-block;
}

.array-item:last-child > .control:last-child {
  display: none;
}

.control {
  color: #ffffff;
  display: block;
}

.control.inline {
  display: inline;
}

.attribute {
  color: #91c854;
}

.value {
  color: $color-text;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .indentation {
    display: block;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
