/**
 * Fonts
 */
$font-family: 'Courier';
$font-size: 18px;

/**
 * Code / Pre
 */
$color-code: #91c854;
$color-code-background: #333333;
$code-font-size: 16px;

/**
 * Colors
 */
$color-background: #38393c;
$color-text: #aaaaaa;
$color-link: $color-text;
$color-link-hover: #ffffff;
$color-heading: #ffffff;
$color-border: #888888;

/**
 * Misc
 */
$transition-time: .5s;