/**
 * Fonts
 */
$font-family: 'Courier';
$font-size: 18px;

/**
 * Code / Pre
 */
$color-code: #66D9EF;
$color-code-background: #333333;
$code-font-size: 16px;

/**
 * Colors
 */
$color-background: #272822;
$color-text: #A6E22E;
$color-link: $color-text;
$color-link-hover: #F8F8F2;
$color-heading: #FD971F;
$color-border: #49483E;
$color-attribute: #F92672;

/**
 * Misc
 */
$transition-time: .5s;